**/__pycache__/
.git/
.cache/
.idea/
.mypy_cache/
.pytest_cache/
.circleci/
venv/
**/dist/
tests/.cache
tests/.pytest_cache
.coverage

.dockerignore
docker-compose*.yml
deploy/
*.pyo
*.pyd

.DS_Store
